# Git
.git
.gitignore

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDE files
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# Build files / Logs
logs/
*.log
build/

# OS files
*~
Thumbs.db
.DS_Store

# Docker
Dockerfile
.dockerignore